# dependencies
node_modules/

# build output
dist/
build/

# environment variables
.env
.env.*
.env.local
.env.*.local
!.env.example

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# OS files
.DS_Store
Thumbs.db

# IDE / editors
.vscode/*
!.vscode/extensions.json
.idea/

# temporary files
*.local
*.log

# Vite
vite.svg
.hintrc

# coverage
coverage/
